{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
  <section>
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="card card-login px-5 py-3" style="width: 50rem;">
          <div class="card-body">
            <h2 class="text-center">Log In</h2>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="d-grid">
                <button type="sumbit" class="btn btn-primary">Log In</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}