{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Log Out
{% endblock %}

{% block content %}
  <section style="padding: 5rem 0;">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="card card-login px-5 py-3" style="width: 50rem;">
          <div class="card-body text-center">
            <h1>Log Out</h1>
            <p>Are you sure you want to log out?</p>
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              <button class="btn btn-danger" type="submit">Log Out</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}