{% extends "_base.html" %}

{% block title %}Books in {{ category.name }}{% endblock title %}

{% block content %}
  <section style="padding: 5rem 0;">
    <div class="container">
      {% if book_list %}
        <h1 class="display-3 text-dark">Books</h1>
        <div class="row g-4 justify-content-center">
          {% for book in book_list %}
            <div class="col-10 col-md-6 col-lg-4">
              <div class="card h-100">
                <img src="{{ book.cover.url }}" class="card-img-top h-50" alt="book_cover" style="object-fit: contain;">
                <div class="card-body h-25">
                  <h5 class="card-title">{{ book.title }}</h5>
                  <p class="card-text">{{ book.description|truncatewords:30 }}</p>
                </div>
                <ul class="list-group list-group-flush h-25">
                  <li class="list-group-item"><b>Author:</b> {{ book.author }}</li>
                  <li class="list-group-item"><b>Published date:</b>{{ book.published_date }}</li>
                  <li class="list-group-item"><b>Price:</b> {{ book.price }} $</li>
                </ul>
                <div class="card-footer">
                  <a href="{{ book.get_absolute_url }}" class="btn btn-primary w-100">Look more!</a>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="d-flex justify-content-center w-100">
            {% include "pagination.html" with page=page_obj %}
          </div>
        </div>
      {% else %}
        <div class="display-5">No books in this category.</div>
      {% endif %}
    </div>
  </section>
{% endblock content %}