@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
h1 {
    color:hsl(0, 0%, 42%)
}
.c-img{
    height: 300px;
    width: auto;
}

body {
    background-color: hsl(0, 0%, 80%);
    font-family:"Sour Gummy", sans-serif;;
}

.c-navbar{
    transition: all 0.5s;
}
.navbar-scrolled{
    opacity: 90%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

section{
    padding-top: 3rem;
}

.nav-link:hover {
    color: red;
    transition: all 0.5s;
}


#c-img-homepage{
    width: 100%;
}

#intro{
    padding: 5rem 0;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    text-decoration: none;
    font-size: 50px;
    z-index: 1000;
    transition: all 1s;
}

.scroll-to-top.show {
    visibility: visible;
    opacity: 1;
}

.scroll-to-top:hover {
    font-size: 60px;
}
